
*{
    box-sizing: border-box;
    /*border: 1px yellow solid;*/
}

.header {
 padding-left: 0;
 margin-left: 0;
}

.menubar {
    /*display: flex;*/
    justify-content: flex-end; 
    background-color:#26384a;
}

.menubar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   /* display: flex;*/
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.manubar ul li {
    margin-left: 15px;
}


.menubar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
 /*   display: block;*/
}


.img {
    width: 50%;
    height: auto;
}

.contenedorfoot{
    background-color: #608ec2;
    margin: auto;
}
.itemsfooter{
    color: white;
    text-decoration: none;
    overflow: hidden;
    padding: 10px;
    display: block;
    font-family: "pacifico";
}
.contenedor2foot{
    background-color: #26384a;
    color: white;
    border: 1px solid;
    text-align: center;
    
    
}

.contenedor2foot ul li{
    list-style-type: none;
}

.flex-container{
    display: flex;
    
}
@media (max-width:800px) {
    .flex-container{
        flex-direction: column;
    }
}

.contenedorform{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

section div h1{
    text-align: center;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

  section{
    border: 1px #26384a solid;
  }

  .checked{
    color: rgba(203, 203, 7, 0.886);
  }

  .cajabanner{
    background-color: rgb(83, 158, 204);
  }
  .banner{
        width: 100%;
        height: 35px;
        margin: 0;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        position: relative;
        animation: movimiento 20s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
  }
  @keyframes movimiento {
    from {left: 0px;}
    to {left: 100%;}
  }
  #divanimado {animation-timing-function: linear;}