*{
margin: 5px;
/*padding: 10px;
border: 1px solid;
box-sizing: border-box;*/
}

.oleo-script-swash-caps-regular {
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.gridcontainer{
    height: 150px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
header{
    grid-area: header;
    background-color: white;
    color: white;
    text-align: center;

    }
/*nav{
    grid-area: nav;
    background-color: black;
    color: white;
    width: 100%;
}*/
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
nav ul li {
margin: 0.15px ;
font-family: "Oleo Script Swash Caps", system-ui;

}
nav ul li a{
color: white;
text-decoration: none;
padding: 15px 20px;
}

.productosdestacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid;
    
    }
.producto{
        background-color: darkgoldenrod;
        color: white;
        padding: 20px;
        margin: 10px;
        flex: 1 1 200px;
        box-sizing: border-box;
        justify-items: center;
    }

h1{
    text-align: center;
}  
.button {
    background-color: black; 
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  button a{
    text-decoration: none;
    color: white;

  }

  .flex-container{
    display: flex;
    
}
@media (max-width:800px) {
    .flex-container{
        flex-direction: column;
    }
}

.gridreseñas{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap: 20px;
padding: 10px;
transform: translateY(-5px);
border: 1px solid;
box-shadow: inset;
}

.cardreseñas{
    border: 1px groove;
    background-color: beige;
    border-radius: 2px;
}

.checked{
    color: rgba(203, 203, 7, 0.886);}

.gridcontacto{
display: grid;
grid-template-columns: auto auto;
gap: 20px;
border: 1px double;
}
.contenedorform{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;}

@media (max-width:768px) {
    .gridcontacto{
    grid-template-columns: 1fr;
}}

footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px;
    background-color: rgb(212, 212, 154);
}
@media (max-width:768px) {
    footer{
    grid-template-columns: 1fr;
}}